#root {
  min-width: 500px;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(239, 238, 140);
  width: 100vw;
}

body {
  margin: auto;
}

/* Individual Dog Name Circles */
.puppyPs {
  display: grid;
  grid-row: auto;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border: 1px solid rgb(109, 222, 239);
  border-radius: 50%;
  padding: 30px;
}
.puppyPs:hover {
  background-color: yellow;
}

/* Dog Name List Layout */
.List{
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  column-gap: 1rem;
}

/* Featured Dog Styling */
.Feat {
  background-color: rgb(109, 222, 239);
  padding: 10px;
}
h2{
  font-family: monospace;
}
ul {
  list-style-type: none;
}

@media screen and (min-width: 600px){
  .puppyPs {
    grid-template-areas: a a
  }
}